{%- style -%}
  #Banner-{{ section.id }} .banner {
    width: 100%;
    overflow: hidden;
    border: 2px solid red;
  }

  .banner__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    max-height: 900px;
    height: calc(100vw / 1.6);
    margin: 0 auto;
  }

  .banner__image img {
    width: 45%;
    height: auto;
  }
{%- endstyle -%}

<div
  id="Banner-{{ section.id }}"
  class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  <div class="banner">
    <div class="banner__image">
      {{
        section.settings.image_2
        | image_url: width: section.settings.image_2.width
        | image_tag: alt: section.settings.image_2.alt
      }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner with center image",
  "tag": "section",
  "class": "section banner-center-image",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Center image"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Center Image",
      "limit": 1,
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "Banner with center image",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
