{%- style -%}
  .section-{{ section.id }} {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    background-image: url("{{ section.settings.imagen_fondo | image_url }}");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 1770px;
    margin: 0 auto;
    background-position: bottom center;
    background-color: transparent;
    padding: 40px 20px;
  }

  .footer__content {
    max-width: 1440px;
    margin: 0 auto;
  }

  .section-{{ section.id }} .footer__content {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
  }

  .section-{{ section.id }} .footer__heading {
    font-size: 3rem;
    font-family: 'Iowan Old Style', serif;
    margin-bottom: 1rem;
  }

  .section-{{ section.id }} .footer__info p {
    margin: 0;
    margin-top: 0.5rem;
    letter-spacing: -0.9px;
    line-height: 1.2;
  }

  .section-{{ section.id }} .footer__info {
    font-size: 1.6rem;
  }

  .section-{{ section.id }} .footer__content-right {
    display: flex;
    justify-content: center;
    align-items: center;
   }

  .section-{{ section.id }} .footer__logo img {
    max-width: 100px;
    width: 100%;
    height: auto;
  }
  .section-{{ section.id }} .footer__logo {
    width: 100%;
    text-align: center;
  }

  .section-{{section.id }} .footer__copyright {
    text-align: center;
    margin-top: 3rem;
  }


  @media screen and (min-width: 540px) {

    .section-{{ section.id }} .footer__logo img {
      max-width: 200px;
    }

    .section-{{ section.id }} {
      padding: 60px 40px;
    }

    .section-{{ section.id }} .footer__content {
      grid-template-columns: 1fr 1fr;
    }

    .section-{{ section.id }} .footer__content-right {
      justify-content: flex-end;
    }

    .section-{{ section.id }} .footer__logo {
      text-align: right;
    }
  }

  @media screen and (min-width: 768px) {
    .section-{{section.id }} .footer__heading {
      font-size: 4rem;
    }

    .section-{{section.id }} .footer__info {
      font-size: 2rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .section-{{ section.id }} {
      padding: 80px 40px;
    }

    .section-{{section.id }} .footer__heading {
      font-size: 4.5rem;
    }

    .section-{{section.id }} .footer__info {
      font-size: 3rem;
    }

    .section-{{ section.id }} .footer__logo img {
      max-width: 300px;
    }
  }

  @media screen and (min-width: 1440px) {
    .section-{{ section.id }} {
      padding: 100px 40px;
    }

    .section-{{section.id }} .footer__heading {
      font-size: 6.5rem;
    }

    .section-{{section.id }} .footer__info {
      font-size: 4rem;
    }

    .section-{{ section.id }} .footer__logo img {
      max-width: 400px;
    }
  }
{%- endstyle -%}

<footer class="footer section-{{ section.id }} color-{{ section.settings.color_scheme }}">
  <div class="footer__content">
    <div class="footer__content-left">
      <h2 class="footer__heading inline-richtext">{{- section.settings.titulo -}}</h2>
      <div class="footer__info">
        <p>{{ section.settings.telefono }}</p>
        <p>{{ section.settings.direccion }}</p>
        <p>{{ section.settings.nombre_de_contacto }}</p>
      </div>
    </div>
    <div class="footer__content-right">
      <div class="footer__logo">
        {{ section.settings.logo | image_url: width: 600 | image_tag: loading: 'lazy' }}
      </div>
    </div>
  </div>
  <div class="footer__content-bottom-wrapper page-width">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__copyright caption">
        <small class="copyright__content"
          >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    { "type": "text", "id": "titulo", "label": "Titulo", "default": "Titulo" },
    {
      "type": "header",
      "content": "Informacion de contacto"
    },
    { "type": "inline_richtext", "id": "telefono", "label": "Telefono", "default": "123-456-7890" },
    {
      "type": "inline_richtext",
      "id": "direccion",
      "label": "Direccion",
      "default": "Carrara 1 #1-11, Pueblo, Colombia"
    },
    {
      "type": "inline_richtext",
      "id": "nombre_de_contacto",
      "label": "Nombre de contacto",
      "default": "Pepito Perez"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "image_picker",
      "id": "imagen_fondo",
      "label": "Imagen de fondo"
    },
    {
      "type": "number",
      "id": "margin_top",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    }
  ],
  "default": {}
}
{% endschema %}
