{%- style -%}
  .section-{{ section.id }} {
    max-width: 1440px;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .inline-buttons {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
  }

  .inline-button__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    font: inherit;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
    transition: box-shadow var(--duration-short) ease;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    max-width: 330px;
    line-height: 1;
  }

  .button__label {
    margin-left: 2rem;
    white-space: break-spaces;
  }

  /* For custom CSS */
  .inline-button__button img {
    width: 100px;
    height: auto;
  }


  @media screen and (min-width: 768px) {
    .inline-buttons {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .inline-button__button img {
      width: 130px;
      height: auto;
    }
  }

  @media screen and (min-width: 1440px) {
    .inline-button__button img {
      width: 221.19px;
      height: auto;
    }

  .inline-buttons {
    gap: 5.9rem;
  }
  }
{%- endstyle -%}

{% liquid
  assign style = ''

  if section.settings.buttons_font == 'iowan-old-style-black'
    assign style = style | append: 'font-family: Iowan Old Style Black, serif; '
  endif
%}
<div class="section-{{ section.id }}-padding" style="{{ style }}">
  <div class="inline-buttons">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'button' -%}
          <a
            {% if block.settings.button_link == blank %}
              role="link" aria-disabled="true"
            {% else %}
              href="{{ block.settings.button_link }}"
            {% endif %}
            class="inline-button__button block-n-{{ forloop.index }}"
          >
            {%- if block.settings.button_image != blank -%}
              {{
                block.settings.button_image
                | image_url: width: block.settings.button_image_width
                | image_tag: class: 'button__image'
              }}
            {% endif %}
            {%- if block.settings.button_label != blank -%}
              <span class="button__label">
                {{- block.settings.button_label | escape -}}
              </span>
            {%- endif -%}
          </a>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Inline buttons",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "buttons_font",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "iowan-old-style-black",
          "label": "Iowan Old Style-black"
        }
      ],
      "default": "default",
      "label": "Text font"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "image_picker",
          "id": "button_image",
          "label": "Button image"
        },
        {
          "type": "number",
          "id": "button_image_width",
          "label": "Button image width",
          "default": 5,
          "info": "Specify the image with in REM units"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "My button",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Inline buttons"
    }
  ]
}
{% endschema %}
