{{ 'ruta-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width section-{{ section.id }}-padding">
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {{ page.content }}
  </div>
  <div class="puntos-del-mapa visually-hidden">
    {% for block in section.blocks %}
      {%- case block.type -%}
        {%- when 'punto-de-mapa' -%}
          {{ block.settings.image | image_url: width: 300 | image_tag: id: 'gallito-de-roca' }}
      {% endcase %}
    {% endfor %}
  </div>
  <div id="mapa" class="overflow-hidden" style="border: 1px solid #000">
    {% case section.settings.mapa %}
      {% when 'ruta-el-hacha' %}
        {% render 'ruta-el-hacha' %}
      {% else %}
        <p>Mapa no disponible</p>
    {% endcase %}
  </div>
</div>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js"></script>
{% javascript %}
  document.addEventListener('DOMContentLoaded', () => {
    // Make map draggable and zoomable
    panzoom(document.querySelector('#g1'));

    tippy('#ave1', {
      content: document.querySelector('#gallito-de-roca'),
      allowHTML: true,
      trigger: 'mouseenter focus',
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Mapa"
    },
    {
      "type": "select",
      "id": "mapa",
      "label": "Mapa",
      "default": "ruta-el-hacha",
      "options": [
        {
          "label": "Ruta El Hacha",
          "value": "ruta-el-hacha"
        },
        {
          "label": "Ruta San Luis",
          "value": "ruta-san-luis"
        },
        {
          "label": "Ruta La Alacena",
          "value": "ruta-la-alacena"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "punto-de-mapa",
      "name": "Punto de mapa",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Contenido desplegable"
        }
      ]
    }
  ]
}
{% endschema %}
