{{ 'ruta-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width section-{{ section.id }}-padding">
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {{ page.content }}
  </div>
  <div class="fichas-tecnicas visually-hidden">
    {% for block in section.blocks %}
      {%- case block.type -%}
        {%- when 'ficha-tecnica' -%}
          <div class="ficha-tecnica" id="punto-del-mapa">
            {{ block.settings.image | image_url: width: 400 | image_tag: id: 'gallito-de-roca' }}
            <div class="rich-text__text rte" {{ block.shopify_attributes }}>
              {{ block.settings.text }}
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
  <div id="mapa" class="overflow-hidden" style="border: 1px solid #000">
    {% case section.settings.mapa %}
      {% when 'ruta-el-hacha' %}
        {% render 'ruta-el-hacha' %}
      {% else %}
        <p>Mapa no disponible</p>
    {% endcase %}
  </div>
</div>

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js"></script>
{% javascript %}
  document.addEventListener('DOMContentLoaded', () => {
    // Make map draggable and zoomable
    const mapContainer = document.querySelector('#g1');

    const panZoomInstance = panzoom(mapContainer);

    const ave = document.getElementById('rect681');
    const instance = tippy(ave, {
      content: document.querySelector('#punto-del-mapa'),
      allowHTML: true,
      trigger: 'manual',
      maxWidth: 'none',
      flipOnUpdate: true,
    });

    ave.addEventListener('touchend', (e) => {
      instance.show();
      panZoomInstance.pause();
    });

    ave.addEventListener('click', (e) => {
      instance.show();
      panZoomInstance.pause();
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Mapa"
    },
    {
      "type": "select",
      "id": "mapa",
      "label": "Mapa",
      "default": "ruta-el-hacha",
      "options": [
        {
          "label": "Ruta El Hacha",
          "value": "ruta-el-hacha"
        },
        {
          "label": "Ruta San Luis",
          "value": "ruta-san-luis"
        },
        {
          "label": "Ruta La Alacena",
          "value": "ruta-la-alacena"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "ficha-tecnica",
      "name": "Ficha tecnica",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagen"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Color de fondo"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Texto"
        },
        {
          "type": "text",
          "id": "element_id",
          "label": "ID del punto en el mapa",
          "info": "Identificador unico"
        }
      ]
    }
  ]
}
{% endschema %}
