{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }} {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section-{{ section.id }} h2 {
    margin-top: 0;
    font-family: 'Iowan Old Style', serif;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.3px;
    line-height: 0.9;
  }

  .section-{{ section.id }} .botones {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
  }

  .section-{{ section.id }} .inline-button__button.block-n-3 {
    font-family: 'Iowan Old Style Black', serif;
    font-size: 1rem;
    line-height: 3;
    background-color: #cf5342;
    border-radius: 20px;
    color: #d9dada;
    align-self: center;
  }

  .section-{{ section.id }} .button__image {
    width: 100px;
    height: 40px;
  }

  .section-{{ section.id }} .inline-button__button .button__label {
      margin: 0;
    }

  .section-{{ section.id }} .inline-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }

  .section-{{ section.id }} .inline-button__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: unset;
    cursor: pointer;
    font: inherit;
    font-size: 4rem;
    font-weight: 800;
    text-decoration: none;
    transition: box-shadow var(--duration-short) ease;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    max-width: 330px;
    line-height: 1;
  }

  .section-{{ section.id }} .rich-text__text {
    color: #576744;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 0.9;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: -0.9px;
  }


  @media screen and (min-width: 425px) {
    .section-{{ section.id }} {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .section-{{ section.id }} .botones {
      max-width: 405px;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }} h2 {
      font-size: 4.5rem;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      letter-spacing: 2px;
    }

    .section-{{ section.id }} .botones {
      gap: 5rem;
      grid-template-columns: 120px 150px 120px;
      max-width: 490px;
      margin: 0 auto;
    }

    .section-{{ section.id }} .button__image {
      height: 100px;
      width: 120px;
    }

    .section-{{ section.id }} .inline-button__button.block-n-3 {
      font-size: 1.5rem;
      line-height: 2.5;
    }

    .section-{{ section.id }} .rich-text__text {
      font-size: 2rem;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      letter-spacing: 0.8px;
    }
  }

  @media screen and (min-width: 1024px) {
    .section-{{ section.id }} h2 {
      font-size: 6rem;
      word-spacing: 8px;
    }

    .section-{{ section.id }} .botones {
      gap: 10rem;
      grid-template-columns: 150px 200px 150px;
      max-width: 700px;
      margin: 0 auto;
    }

    .section-{{ section.id }} .button__image {
      height: 100px;
      width: auto;
    }

    .section-{{ section.id }} .inline-button__button.block-n-3 {
      font-size: 2.7rem;
      line-height: 1.7;
    }

    .section-{{ section.id }} .rich-text__text {
      margin-top: 4rem;
      max-width: 80%;
      font-size: 3rem;
    }
  }

  @media screen and (min-width: 1440px) {
      .section-{{ section.id }} h2 {
        font-size: 9.6rem;
        max-width: 1048px;
      }

      .section-{{ section.id }} .botones {
        gap: 8rem;
        grid-template-columns: 200px 300px 200px;
        max-width: 860px;
      }

      .section-{{ section.id }} .button__image {
        height: 130px;
        width: auto;
      }

      .section-{{ section.id }} .inline-button__button.block-n-3 {
        font-size: 3rem;
        line-height: 2;
      }

      .section-{{ section.id }} .rich-text__text {
        margin-top: 6rem;
        max-width: unset;
        font-size: 5rem;
      }

  }
{%- endstyle -%}

{%- assign titulo = '' -%}
{%- assign botones = '' -%}
{%- assign texto = '' -%}
<div class="isolate">
  <div class="rich-text content-container gradient color-{{ section.settings.color_scheme }} section-{{ section.id }} {% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'titulo' -%}
              {% capture titulo_cap %}
                <h2
                  class="rich-text__heading rte inline-richtext"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.titulo }}
                </h2>
              {% endcapture %}
              {%- assign titulo = titulo | append: titulo_cap -%}
            {%- when 'boton' -%}
              {% capture boton %}
                <a
                  {% if block.settings.button_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link }}"
                  {% endif %}
                  class="inline-button__button block-n-{{ forloop.index }}"
                >
                  {%- if block.settings.button_image != blank -%}
                    {{
                      block.settings.button_image
                      | image_url: width: 200
                      | image_tag: class: 'button__image'
                    }}
                  {% endif %}
                  {%- if block.settings.button_label != blank -%}
                    <span class="button__label">
                      {{- block.settings.button_label | escape -}}
                    </span>
                  {%- endif -%}
                </a>
              {% endcapture %}
              {%- assign botones = botones | append: boton -%}
            {%- when 'texto' -%}
              {% liquid
                assign text_style = ''

                if block.settings.text_font == 'iowan-old-style'
                  assign text_style = text_style | append: 'font-family: Iowan Old Style, serif; '
                endif
              %}
              {% capture texto_cap %}
                <div
                  class="rich-text__text rte"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                  {% endif %}
                  style="{{ text_style }}"
                >
                  {{ block.settings.texto }}
                </div>
              {% endcapture %}
              {%- assign texto = texto | append: texto_cap -%}
          {%- endcase -%}
        {%- endfor -%}
        <div>
          {{ titulo }}
          <div class="botones">
            {{ botones }}
          </div>
          {{ texto }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Titulo-Botones-Texto",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "titulo",
      "name": "Titulo",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "titulo",
          "default": "Titulo",
          "label": "Titulo"
        }
      ]
    },
    {
      "type": "texto",
      "name": "texto",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "texto",
          "default": "Texto",
          "label": "Texto"
        },
        {
          "type": "select",
          "id": "text_font",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "iowan-old-style",
              "label": "Iowan Old Style"
            }
          ],
          "default": "default",
          "label": "Text font"
        }
      ]
    },
    {
      "type": "boton",
      "name": "Boton",
      "settings": [
        {
          "type": "image_picker",
          "id": "button_image",
          "label": "Button image"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "My button",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Titulo-Boton-Texto",
      "blocks": [
        {
          "type": "titulo"
        },
        {
          "type": "boton"
        },
        {
          "type": "texto"
        }
      ]
    }
  ]
}
{% endschema %}
