{%- style -%}
  .overflow-x-clip {
    overflow-x: clip;
  }

  .section-{{ section.id }} {
    position: relative; /* To create a stacking context */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    max-width: 1440px;
    margin: 0 auto;

  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .two-columns {
    display: grid;
    position: relative;
    grid-template-areas: "left right";
  }

  .section-{{ section.id }}__background {
    position: absolute;
    background: url("{{ 'fondo-azul-2.svg' | asset_url }}");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1770px;
    height: 200%;
  }
{%- endstyle -%}

<div class="section-{{ section.id }}">
  <div class="section-{{ section.id }}__background" style="display: block"></div>
  <div class="two-columns">
    <div class="two-columns__left">
      {%- if section.settings.image != blank -%}
        <div class="two-columns__image">
          {{ section.settings.image | image_url: width: 600 | image_tag }}
        </div>
      {%- endif -%}
      <div class="two-columns__text">
        {%- if section.settings.title != blank -%}
          <h2 class="two-columns__title">
            {{ section.settings.title }}
          </h2>
        {%- endif -%}
      </div>
      <div class="two-columns__right">
        {%- if section.settings.list_text != blank -%}
          <div class="two-columns__list">
            {{ section.settings.list_text }}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Two columns",
  "tag": "section",
  "class": "section overflow-x-clip",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "list_text",
      "label": "List text",
      "info": "Bulleted list of text",
      "default": "<ul><li>List item 1</li><li>List item 2</li><li>List item 3</li></ul>\n"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Two columns"
    }
  ]
}
{% endschema %}
